doctype html

html
  head
    meta(charset='UTF-8')
  body
    #root
      script(src=env == 'prod' ? '/js/0.chunk.js' : null)
      script(src=env == 'prod' ? '/js/1.chunk.js' : null)
      script(src=env == 'prod' ? '/js/2.chunk.js' : null)
      script(src=env == 'prod' ? '/js/7.chunk.js' : null)
      script(src=env == 'prod' ? '/js/contentScript.bundle.js' : null)
      script(src=env == 'prod' ? '/js/background.bundle.js' : 'https://localhost:3001/js/background.bundle.js')
