doctype html

html
  head
    meta(charset='UTF-8')
    title Clover
    style.
      body { width:357px; height:600px;}

  body
    #root
      script(src=env != 'prod' ? 'https://localhost:3000/js/reduxDevToolsExtension.bundle.js' : null)
      script(src=env == 'prod' ? '/js/0.chunk.js' : null)
      script(src=env == 'prod' ? '/js/1.chunk.js' : null)
      script(src=env == 'prod' ? '/js/6.chunk.js' : null)
      script(src=env == 'prod' ? '/js/mainapp.bundle.js' : 'https://localhost:3000/js/mainapp.bundle.js')
