doctype html

html
  head
    meta(charset='UTF-8')
    title FUSOTAO Notifcation
  body
    #root
      script(src=env != 'prod' ? 'https://localhost:3001/js/reduxDevToolsExtension.bundle.js' : null)
      script(src=env == 'prod' ? '/js/0.chunk.js' : null)
      script(src=env == 'prod' ? '/js/1.chunk.js' : null)
      script(src=env == 'prod' ? '/js/2.chunk.js' : null)
      script(src=env == 'prod' ? '/js/7.chunk.js' : null)
      script(src=env == 'prod' ? '/js/contentScript.bundle.js' : null)
      script(src=env == 'prod' ? '/js/mainapp.bundle.js' : 'https://localhost:3001/js/mainapp.bundle.js')
